.main {
    background-color: #add8d2;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.25rem;
    font-family: 'Josefin Sans';
    color: white;
  }